!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title OutputShareMyRecords
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__title
        = link_to "OutPut-share!", root_path, class: "header__title--text"
      .header__right
        - if user_signed_in?
          .icons
            .icon-user
              .fas.fa-user
                = link_to current_user.nickname, user_path(current_user), class: "header__right--btn"
            .icon-plane
              .fas.fa-paper-plane
                = link_to "新規投稿", new_post_path, class: "header__right--btn"
            .icon-post
              .fas.fa-sticky-note
                = link_to "投稿一覧", posts_path, class: "header__right--btn"
            .icon-records
              .fas.fa-pen-alt
                = link_to "記録一覧", records_path, class: "header__right--btn"
            .icon-signout
              .fas.fa-sign-out-alt
                = link_to "Log out", destroy_user_session_path, method: :delete, class: "header__right--btn"
        - else
          .icons2
            .icon-login
              .fas.fa-sign-in-alt
                = link_to "Log in", new_user_session_path, class: "header__right--btn"
            .icon-signup
              .fas.fa-user-plus
                = link_to "Sign up", new_user_registration_path, class: "header__right--btn"
    .contents
      = yield
